<html>

<head>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <META http-equiv= "Content-Type" content = "text/html; charset=UTF-8">  
    <title> {% block title %}Home Page{% endblock %} - Synopsys Photo Album</title>
    <link rel="stylesheet" media="screen" href="/static/style/style.css">
     {% block headcss %} {% endblock %}
     {% block headjs %} {% endblock %}
</head>

<body>
    {% include "photoapp/nav.html" %}

    {% block leftside %} {% endblock %}

    {% block content %}{% endblock %}
    
    {% block rightside %} {% endblock %}

    {% include "photoapp/footer.html" %}

</body>

</html>
