{% extends "photoapp/base.html" %}
{% load thumbnail %}
{% block title %} Synopsys Album {% endblock %}

{% block content %}
<section id = 'gallery'>
  {% for post in post_list %}
    <div class ='container-fluid'>
      <a href="/gallery/{{post.author.username}}">{{ post.author.username }}</a>
      &nbsp;|&nbsp;
      <a href="/post/{{post.id}}">{{ post.title }}</a>
      <br>
      {{ post.time }}
      {% for tag in post.tag.all %}
        <a href="/tag/{{tag.title}}">
          <span class="label label-default">{{ tag.show_name }}</span>
        </a>
      {% endfor %}
    </div>

    <div class = 'container-fluid'>
      {% for photo in post.photos.all %}
        <div class = ' col-lg-4 col-md-6'>
          <div class = 'hovereffect'>
            {% thumbnail photo.truesize "470" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" >
              <div class="overlay">
                 <h2>like it</h2>
                    <a class='info img-fluid sigmapad' href="/post/{{post.id}}/photo/{{photo.id}}" data-toggle="lightbox" data-gallery="sigma-gallery" data-title="{{photo.title}}"> click here</a>
              </div>
            {% endthumbnail %}
          </div>
        </div>
      {% endfor %}
    </div>
    <br/>
  {% endfor %}
</section>

{% endblock %}



