{% extends "photoapp/base.html" %}
{% block title %} Synopsys Album {% endblock %}

{% block content %}
<section id = 'gallery'>
  {% for post in post_list %}
    <div class ='container-fluid'>
      {{ post.author.username }}&nbsp;&nbsp;{{ post.time }}
    </div>
    <div class = 'container-fluid'>
      {% for photo in post.photos.all %}
        <a href="#" data-toggle="lightbox" data-gallery="sigma-gallery" data-title="Image Title 01">
          <img src=/static/{{ photo.thumbnail }} class="img-fluid sigmapad col-lg-4 col-md-6"  alt={{image.title}} /> 
        </a>
      {% endfor %}
    </div>
  {% endfor %}
</section>

{% endblock %}



