{% extends "photoapp/base.html" %}
{% block title %} Synopsys Album {% endblock %}

{% block content %}
<section id = 'gallery'>
  {% for post in post_list %}
    <div class ='container-fluid'>
      {{ post.author.username }}&nbsp;&nbsp;{{ post.time }}
    </div>
    <div class = 'container-fluid'>
      {% for photo in post.photos.all %}
        <a href="{{photo.truesize.url}}" data-toggle="lightbox" data-gallery="sigma-gallery" data-title="{{photo.title}}">
          <img src="{{ photo.thumbnail.url }}" class = 'img-fluid sigmapad col-lg-4 col-md-6' >
        </a>
      {% endfor %}
    </div>
  {% endfor %}
</section>

{% endblock %}



