{% extends "photoapp/base.html" %}
{% load thumbnail %}

{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<div class ='container-fluid'>
    <h2> {{ post.title }} </h2>
    <a href="/gallery/{{post.author.username}}">{{ post.author.username }}</a>
    &nbsp;|&nbsp;
    {{ post.time }}
    {% for tag in post.tag.all %}
      <span class="label label-default">{{ tag.title }}</span>
    {% endfor %}
</div>
<div class = 'container-fluid'>
  {% for photo in post.photos.all %}
  <a href="/post/{{post.id}}/photo/{{photo.id}}" data-toggle="lightbox" data-gallery="sigma-gallery" data-title="{{photo.title}}">
  {% thumbnail photo.truesize "470" as im %}
  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class = 'img-fluid sigmapad col-lg-4 col-md-6'>
  {% endthumbnail %}
  </a>
  {% endfor %}
</div>
{% endblock %}
