<section id="about">

	<div class="container-fluid">
    
    	<div class="row sigma-section-header">
        	<div class="col-md-offset-2 col-lg-offset-3 col-lg-6 col-md-8 col-sm-12 text-center">
        		<h1>About Us</h1>
                <p>This SNPS web site is maintained by Synopsys Internal Python-SIG group.</p>
            </div>
        </div>

        <div class="row single-page-nav">
        
        	<div class="sigma-content col-lg-4 col-md-6 sigma-bg-lightgray">
            	<h2>01 Design</h2>
            	<p>Praesent lorem dui, suscipit eu volutpat id, sollicitudin ut mi. Praesent ornare massa vehicula.</p>
            </div>
            <div class="sigma-content col-lg-4 col-md-6 sigma-bg-gray">
            	<h2>02 Coding</h2>
            	<p>Praesent lorem dui, suscipit eu volutpat id, sollicitudin ut mi. Praesent ornare massa vehicula.</p>
            </div>
            <div class="sigma-content col-lg-4 col-md-12 sigma-bg-darkgray">
            	<h2>03 Mobile Ready</h2>
            	<p>Praesent lorem dui, suscipit eu volutpat id, sollicitudin ut mi. Praesent ornare massa vehicula.</p>
            </div>
        </div>
        
	</div>
</section>
    